### 1. Name string

In [43]:
first_name = 'Farooq' # type in your first name here
first_name

'Farooq'

In [44]:
last_name = 'Mahmud' # type in your last name here
last_name

'Mahmud'

#### Please concatenate your first and last name with a space between them, then print your name

In [45]:
# Please concatenate your first and last name with a space between them, then print your name
full_name = first_name + ' ' + last_name
full_name

'Farooq Mahmud'

### 2. Given the following list, write a program to display the first and last colors

In [46]:
# Given the following list, write a program to display the first and last colors
color_list = ["Red","Green","White" ,"Black"]

def first_and_last_colors(colors: list) -> list:
    return [colors[0], colors[-1]]

first_and_last_colors(color_list)

['Red', 'Black']

### 3. Compute and print the value of `n+nn+nnn`.

In [47]:
# Compute and print the value of n+nn+nnn.
n = 5
result = n + (n*n) + (n*n*n)
result

155

### 4. Numbers

### 4.1 Calculate `num = 1325 / 3`

In [48]:
num = 1325/3
num

441.6666666666667

### 4.2 Round `num` to 3 decimals

In [49]:
num = round(num, 3)
num

441.667

### 4.3 Return the remainder of `num`

In [50]:
remainder = num % 2
remainder

1.6669999999999732

### 4.4 Compute `num` to the power of 3

In [51]:
num = pow(num, 3)
num

86155866.36588794

### 5. Lists

In [30]:
num1 = [386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217]
num2 = [815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958,743, 527]

32
20

### 5.1 Concatenate `num1` and `num2` to new list `num_new`

In [57]:
num_new = num1 + num2
num_new

[386,
 462,
 47,
 418,
 907,
 344,
 236,
 375,
 823,
 566,
 597,
 978,
 328,
 615,
 953,
 345,
 399,
 162,
 758,
 219,
 918,
 237,
 412,
 566,
 826,
 248,
 866,
 950,
 626,
 949,
 687,
 217,
 815,
 67,
 104,
 58,
 512,
 24,
 892,
 894,
 767,
 553,
 81,
 379,
 843,
 831,
 445,
 742,
 717,
 958,
 743,
 527]

### 5.2 Print the length of list `num_new`

In [58]:
print(len(num_new))

52

### 5.3 Add the cube of `10` at the end of the list `num_new`

In [59]:
num_new.append(pow(10, 3))
num_new[-1]

1000

### 5.4 Print the length of list `num_new` again

In [60]:
print(len(num_new))

53

### 5.5 Write a Python program to print all even numbers in list `num_new` and stop printing any after `237` in the sequence.

### 6 More examples of Python code can be found at https://www.geeksforgeeks.org/python-cheat-sheet/
Please practice more if you are new to Python.

In [61]:
numbers = [num for num in num_new if num % 2 == 0 and num <= 237]
numbers

[236, 162, 104, 58, 24]